{{- $certs := .Site.Params.profile.certifications}}
{{ if $certs.enable | default false }}
<section id="certifications" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ $certs.title | default "My Top Certifications" }}</h3>
        <div class="px-0 px-md-5 px-lg-5">
            <div class="row justify-content-center px-3 px-md-5 px-lg-5">
                {{ range $certs.items }}
                <div class="col-lg-4 col-md-6 my-3">
                    <div class="card my-3 h-100 p-3" title="{{ .title }}">
                        <div class="card-body bg-transparent align-items-end">
                            <div class="text-center">
                              <img src="{{relURL .image}}" class="img-thumbnail">
                            </div>
                            <h5 class="card-title bg-transparent text-center">{{ .title }}</h5>
                        </div>
                        <div class="text-center">
                            <button type="button" class="certactionbutton"
                            onclick="window.open('{{absURL .verificationUrl}}', '_blank')">
                            <span class="certactionbutton-text">{{$certs.verify.actionName}}</span>
                            <span class="certactionbutton-icon">
                              <ion-icon name="{{$certs.verify.ionIconName}}"></ion-icon>
                            </span>
                          </button>
                        </div>
                    </div>
                </div>
                {{ end }}

            </div>
        </div>
    </div>
</section>
{{ end }}
